

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Language type:</strong>
  <%= @language.language_type %>
</p>

<%= link_to 'Edit', edit_language_path(@language), class:"btn btn-dark active" %> 
<%= link_to 'Back', languages_path, class:"btn btn-dark active" %>
