

<p>
  <strong>Reference:</strong>
  <%= @learning_resource.reference %>
</p>

<p>
  <strong>Accessed:</strong>
  <%= @learning_resource.accessed %>
</p>

<%= link_to 'Edit', edit_language_learning_resource_path(@learning_resource),  class:"btn btn-dark active"  %> 
<%= link_to 'Back', language_learning_resources_path ,  class:"btn btn-dark active" %>
