<h1>Editing Code Snippet</h1>

<%= render 'form', code_snippet: @code_snippet, language: @language %>


<%= link_to 'Show', language_code_snippet_path(@language,@code_snippet) %> |
<%= link_to 'Back', language_code_snippets_path(@language) %>
