<p>
  <strong>Code:</strong>
  <%= @code_snippet.code %>
</p>

<%= link_to 'Edit', edit_language_code_snippet_path(@language,@code_snippet) %> |
<%= link_to 'Back', language_code_snippets_path(@language) %>
