

<p>
  <strong>Name:</strong>
  <%= @certification.name %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification), class:"btn btn-secondary active" %> 
<%= link_to 'Back', certifications_path, class:"btn btn-secondary active" %>
